#cart-header {
    background-image: url("img/about/banner.png");
    height: 40vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;

    h2,
    p {
        color: white;
    }
}

#cart {
    overflow-x: auto;

    table {

        thead {
            border: 1px solid #e2e9e1;
            border-left: none;
            border-right: none;

            td {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 13px;
                padding: 18px 0;
            }
        }

        tbody tr td {
            padding-top: 15px;
        }

        tbody td {
            font-size: 13px;
        }

        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        white-space: nowrap;

        td:nth-child(1) {
            width: 100px;
            text-align: center;
        }

        td:nth-child(2) {
            width: 150px;
            text-align: center;
        }

        td:nth-child(3) {
            width: 250px;
            text-align: center;
        }

        td:nth-child(4),
        td:nth-child(5),
        td:nth-child(6) {
            width: 150px;
            text-align: center;
        }

        td:nth-child(5) input {
            width: 70px;
            padding: 10px 5px 10px 15px;
        }

        td:nth-child(5) input:focus {
            outline: none;
        }

        img {
            width: 70px;
        }
    }
}

.normal {
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
    transition: 0.2s;
    background-color: #088178;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    #coupon {
        width: 50%;
        margin-bottom: 30px;

        h3 {
            padding-bottom: 15px;
        }

        input {
            padding: 15px 20px;
            outline: none;
            width: 60%;
            margin-right: 10px;
            border: 1px solid #e2e9e1;
        }
    }

    #subtotal {
        width: 50%;
        margin-bottom: 30px;
        border: 1px solid #e2e9e1;
        padding: 30px;

        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;

            td {
                width: 50%;
                border: 1px solid #e2e9e1;
                padding: 10px;
                font-size: 13px;
            }
        }

        h3 {
            padding-bottom: 15px;
        }
    }
}

@media(max-width:477px) {
    #cart-add {
        flex-direction: column;
    }

    #cart-add {
        #coupon {
            width: 100%;
        }
        #subtotal {
            width: 100%;
        }
    }
}